/*
* @Author: beyondouyuan
* @Date:   2017-11-24 02:48:34
* @Last Modified by:   beyondouyuan
* @Last Modified time: 2017-11-25 05:28:22
*/

$lightGreen : #42b983;
$grassGreen : #3aa373;
$lightBlue: #359BF3;
$lightBlack : #2c3e50;
$black : #34495e;
$gray : #7f8c8d;
$orange : #e96900;
$white : #f8f8f8;
$red : #f66;

$logoSize: 80px;


$fontYaHei: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSourceSansPro:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$fontGothic:Century Gothic, sans-serif;
